table.mainTable {
    background: #eeeeee;
    border: 0;
    width: 100%;
}
tr.line {
    background: #666666;
}
tr.header {
    background: #333333;
    padding-left: 5px;
}
td.lightcolumn {
    background: #ffffff;
    font-family : Verdana, Arial;
    font-size : 13px;
    font-weight: normal;
    color: #333333;
    height: 20px;
    padding-left: 5px;
}
td.darkcolumn {
    background: #eeeeee;
    font-family : Verdana, Arial;
    font-size : 13px;
    font-weight: normal;
    color: #333333;
    height: 20px;
    padding-left: 5px;
}
span.text {
    font-family : Verdana, Arial;
    font-size : 13px;
    font-weight: normal;
    color: #333333;
}
span.error {
    text-align:center;
    display: block;
    padding: 10px;
    font-family : Verdana, Arial;
    font-size : 13px;
    font-weight: normal;
    color: #ffffff;
    background: #8E1919;
}
span.info {
    text-align:center;
    display: block;
    padding: 10px;
    font-family : Verdana, Arial;
    font-size : 13px;
    font-weight: normal;
    color: #333333;
    background: #FFCC00;
}
span.success {
    text-align:center;
    display: block;
    padding: 10px;
    font-family : Verdana, Arial;
    font-size : 13px;
    font-weight: normal;
    color: #ffffff;
    background: #297A29;
}
span.title {
    font-family : Verdana, Arial;
    font-size : 17px;
    font-weight: bold;
    color: #333333;
}
span.label {
    font-family : Verdana, Arial;
    font-size : 13px;
    font-weight: bold;
    color: #333333;
}
span.hrow {
    font-family : Verdana, Arial;
    font-size : 13px;
    font-weight: bold;
    color: #ffffff;
}
.icon {
    height: 15px;
    width: 15px;
    padding-left: 5px;
}
.iconBack {
    background: url('../images/back.gif') no-repeat center;
}
.iconFile {
    background: url('../images/file.gif') no-repeat center;
}
.iconFolder {
    background: url('../images/folder.gif') no-repeat center;
}
.show {
    display: inline;
}
.hide {
    display: none;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.maxWidth {
    width:100%;
}
input.mainTable {
    font-size: 11px;
    background-color: #ffffff;
}
input[type=submit] {
    background-color: #0066CC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
    cursor: poiner;
    border:none;
}
input[type=submit]:hover {
    border: none;
    background:#003D7A;
    box-shadow: 0px 0px 1px #777;

}
input[type=reset] {
    background-color: #0066CC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
    cursor: poiner;
    border:none;
}
input[type=reset]:hover {
    border: none;
    background:#003D7A;
    box-shadow: 0px 0px 1px #777;
}
input[type=file] {
    background-color: #0066CC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
    cursor: poiner;
    border:none;
}

.textarea {
    width:90%;
    height: 600px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
}
a:link {
    color: #0066CC;
    font-family : Verdana, Arial;
    font-size : 13px;
    text-decoration:none;
}
a:visited {
    color: #0066CC;
    font-family : Verdana, Arial;
    font-size : 13px;
    text-decoration:none;
}
a:hover {
    color: #003D7A;
    font-family : Verdana, Arial;
    font-size : 13px;
    text-decoration:none;
}
a:active {
    color: #0066CC;
    font-family : Verdana, Arial;
    font-size : 13px;
    text-decoration:none;
}