<!DOCTYPE html>
<html lang="en">    
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    
    <body bgcolor="#FFFFFF">
        <table class='mainTable' border='0' cellspacing='0' cellpadding='20' width='100%'
        align='center'>
            <tr>
                <td>
                    <div class="maxWidth">
                        <span class='alignleft title'>{{title}}</span>
                        <span class="alignright">
                            <a href='{{action}}?logoff=1'>Log Off</a>
                        </span>
                        <span style="clear: both;"></span>
                    </div>
                    <br />
                    <br />
                    {{msg}}
                    {{content}}
                </td>
            </tr>
        </table>
    </body>

</html>