<table class='wf'>
    <tr>
        <td>
            <span class='wf-heading'>{{heading}}</span>
            <br />
            <form name='wfform1' method='post' action='{{action}}'>{{msg}}
                <center>
                    <span class='wf-text'>User Name:</font>
                        <input type='text' name='u' />
                    </span>
                    <br />
                    <span class='wf-text'>Password:</font>
                        <input type='password' name='password' />
                    </span>
                    <br />
                    <input type='submit' name='login' value='Login' />
                </center>
            </form>
        </td>
    </tr>
</table>
