<tr>
    <td class='wf-lightcolumn'>{{fileicon}}</td>
    <td class='wf-darkcolumn'>&nbsp;
        <span class='wt-text'>{{filename}}</span>&nbsp;</td>
    <td class='wf-lightcolumn'>&nbsp;
        <span class='wt-text'>{{filetype}}</span>&nbsp;</td>
    <td class='wf-darkcolumn'>&nbsp;
        <span class='wt-text'>{{filedata}}</span>&nbsp;</td>
    <td class='wf-lightcolumn'>&nbsp;
        <span class='wt-text'>{{modified}}</span>&nbsp;</td>
    <td class='wf-darkcolumn'>&nbsp;{{downloadlink}}&nbsp;</td>
    <td class='wf-lightcolumn'>&nbsp;{{deletelink}}&nbsp;</td>
    <td class='wf-darkcolumn'>&nbsp;{{tmpeditlink}}&nbsp;</td>
    <td class='wf-lightcolumn'>&nbsp;{{renamelink}}&nbsp;</td>
</tr>
<tr class='wf-darkline'>
    <td colspan='9' height='1'></td>
</tr>