<form name='mainForm' method='post' action='{{action}}' enctype='multipart/form-data'>
    <input type='hidden' name='MAX_FILE_SIZE' value='{{maxfilesize}}' />
    <span class="{{displayCreateFolder}}">
        <div class="maxWidth">
            <span class='alignleft'>
                <span class='label'>Create a Folder:</span>
                <input type='text' name='dirname' size='15' />
                <input type='submit' name='mkdir' value='Create' />
            </span>
            <span class="alignright">
                <span class='label'>Upload a File:</span>
                <input type='file' name='uploadedfile' />
                <input type='submit' name='upload' value='Upload' />
                <input type='hidden' name='workingdir' value='{{workingdir}}' />
            </span>
            <span style="clear: both;"></span>
        </div>
    </span>
</form>
<table width='100%' border='0' cellspacing='0' cellpadding='0' align='center'>
    <tr class='header'>
        <td width='25'>&nbsp;</td>
        <td>
            <span class='hrow'>Filename</span>
        </td>
        <td>
            <span class='hrow'>File Type</span>
        </td>
        <td>
            <span class='hrow'>File Size</span>
        </td>
        <td>
            <span class='hrow'>Modified Date</span>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr class='{{displayBackLink}}'>
        <td class='lightcolumn'>
            <a class="icon" href='{{action}}?back=1&amp;workingdir={{workingdir}}'><img src="images/back.gif"/></a>
        </td>
        <td colspan='5' class='lightcolumn'>&nbsp;</td>
    </tr>
    <tr class='line' class='{{displayBackLink}}'>
        <td colspan='6' height='1'></td>
    </tr>{{content}}</table>
